.modal-product-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.modal-product-image {
  height: 250px;
  object-fit: scale-down;
}

.modal-product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-product-title-close {
  display: flex;
  justify-content: space-between;
}

#modal-product-title {
  font-size: 1.4rem;
  margin-top: 10px;
}

#modal-price {
  font-size: 1.1rem;
  font-weight: 700;
}

#modal-variants {
  margin-top: -30px;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.modal-color-options,
.modal-size-options {
  display: flex;
  gap: 10px;
  font-weight: 300;
}

.close-modal-mobile {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border-radius: 100px;
  padding: 4px;
}

@media (min-width: 820px) {
  .modal-product-details-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 0;
  }

  .modal-product-image {
    height: 450px;
    width: 40%;
    aspect-ratio: 4/3;
  }

  .modal-product-details {
    gap: 30px;
  }

  .modal-product-info {
    width: 60%;
  }

  #modal-variants {
    margin-top: -20px;
  }

  #modal-product-title {
    margin-top: 0;
  }
}
