:root {
  --rainy-green: #3d5a54;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.desktop {
  display: none;
}

video {
  filter: brightness(0.9);
}

.landing_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing-video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.landing-content {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Poiret One", cursive;
  color: #fff;
  font-size: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 4px #fff;
}

.click {
  padding: 100px;
  color: #fff;
}

/* ---- Header ---- */
header {
  position: -webkit-sticky;
  position: sticky;
  top: -90px;
  z-index: 100;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  align-items: center;
  height: 90px;
}

.logo-img {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--rainy-green);
}

.links-right > a > svg {
  margin-top: 6px;
  opacity: 70%;
  height: 1.2em;
}

.links {
  font-size: 1.2rem;
}

.links > a {
  opacity: 70%;
}

.links > a:hover {
  opacity: 100%;
  transition: all 0.2s ease-in-out;
}

.links-left > a {
  margin-right: 1em;
}

.links-left > a.links-desktop {
  display: none;
}

.links-right > a {
  margin-left: 1em;
}

.links-right > a > svg {
  opacity: 100%;
}

/* ---- Homepage ---- */
.homepage_main {
  margin: 30px 20px 80px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-item {
  grid-column: span 2;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-radius: 5px;
  background: #fff;
  height: 300px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in-out;
}

.card-container:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}

.product-image {
  margin: 0 20px;
  height: 140px;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.product-info h1 {
  font-size: 0.8rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-price {
  font-size: 0.8rem;
  font-weight: bolder;
}

.add-to-bag {
  width: 100%;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 15px;
  color: #fff;
  background: #000;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-to-bag:hover {
  background: var(--rainy-green);
  transition: all 0.3s ease-in-out;
}

.favorite-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 70%;
  stroke: #000;
  fill: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

.favorite-icon:hover {
  opacity: 100%;
  stroke: red;
  fill: red;
}

footer {
  position: relative;
  background-color: var(--rainy-green);
  color: #d2d2d2;
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
  transform: scale(0.9);
}

.footer-rights {
  font-size: 0.7rem;
}

.footer-links {
  display: flex;
  text-align: left;
  color: #fff;
  gap: 100px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 0.05rem;
}

.footer-nav-link {
  opacity: 70%;
}

.footer-links-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-links-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ---- Product Page ---- */
.product-page_main {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.product-title {
  font-size: 1.2rem;
  font-weight: normal;
  width: 70%;
}

.price-heart {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 600;
  letter-spacing: 0.12em;
}

.heart {
  top: 5px;
  right: 5px;
  opacity: 70%;
  stroke: #000;
  fill: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}

.heart:hover {
  opacity: 100%;
  stroke: red;
  fill: red;
}

.select-options {
  margin-top: 20px;
}

.size {
  font-size: 0.7rem;
}

.options {
  display: flex;
  text-transform: uppercase;
  font-weight: 200;
  gap: 15px;
}

.option {
  border: 1px solid #000;
  border-radius: 3px;
  width: 40px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.option:hover {
  font-weight: normal;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.product-page-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 80px 0;
}

.product-to-bag,
.buy-now {
  text-transform: uppercase;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 0.14em;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.product-to-bag {
  background-color: #000;
}

.buy-now {
  background-color: var(--rainy-green);
}

.about-title,
.contact-title,
.bag-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: #3a3a3a;
  margin-bottom: 40px;
}

.about-text,
.details {
  color: #393939;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.mhv {
  padding-top: 80px;
}

.contact-container {
  margin: 60px 20px 100px 20px;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.contact-text {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 0;
  gap: 15px;
}

.contatc-details {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.details {
  margin-top: 1px;
}

.bag-container {
  padding: 40px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--rainy-green);
}

.bag-content {
  display: flex;
  width: 100%;
  padding: 20px 0 10px 0;
}

.bag-product-image {
  height: 180px;
}

.bag-product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  padding-bottom: 10px;
  width: 100%;
}

.order-summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.order {
  font-size: 1.15rem;
  margin-bottom: 10px;
}

.subtotal-price,
.shipping-price,
.total-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.total-price {
  margin-top: 30px;
  font-weight: 600;
}

.checkout-button {
  margin: 100px;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #000;
  letter-spacing: 0.14em;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.checkout-button:hover {
  background-color: var(--rainy-green);
  transition: all 0.3s ease-in-out;
}

.progress-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 0 40px 0;
}

.bar {
  font-size: 0.65rem;
  margin: 6px auto;
  color: #000;
}

.bar-border {
  display: flex;
  border-bottom: 5px solid #d9d9d9;
}

.bar-border-black {
  display: flex;
  border-bottom: 5px solid #000;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px 100px 20px;
}

.form-details h1 {
  font-size: 1.1rem;
  font-weight: 300;
}

.address-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 40px 0;
}

.strech {
  grid-column: 1 / 3;
}

.address-form label {
  display: none;
}

.address-form input {
  font-size: 0.8rem;
  padding: 7px 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.continue-button {
  margin-top: 40px;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  text-align: center;
  background-color: #000;
  letter-spacing: 0.14em;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.continue-button:hover {
  background-color: var(--rainy-green);
  transition: all 0.3s ease-in-out;
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 20px 170px 20px;
}

.confirmation h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.confirmation p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 20px;
}

/* ---- DEESKTOP ---- */
@media (min-width: 680px) {
  .landing_container {
    margin: 0;
    padding: 0;
    position: fixed;
  }

  .landing-content {
    top: 5%;
    font-size: 16vw;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 8px #fff;
    letter-spacing: 0.8rem;
  }

  .click {
    padding-top: 0;
  }

  header {
    top: -110px;
  }

  .logo {
    height: 110px;
  }

  .nav {
    padding: 15px 100px;
  }

  .links-left > a.links-desktop {
    display: inline;
  }

  .homepage_main {
    margin: 50px 100px 150px 100px;
    gap: 30px 40px;
    align-content: center;
    justify-content: space-between;
  }

  .card-container {
    height: 335px;
  }

  .product-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .product-info h1 {
    font-size: 0.9rem;
    width: 60%;
  }

  .favorite-icon {
    right: 10px;
    top: 10px;
  }

  .social-icons {
    position: absolute;
    transform: scale(1);
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    cursor: pointer;
    opacity: 85%;
  }

  .social-icon {
    transition: all 0.3s ease-in-out;
  }

  .social-icon:hover {
    opacity: 100%;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }

  .footer {
    padding-top: 20px;
  }

  .footer-links {
    justify-content: space-around;
    letter-spacing: 0.1rem;
  }

  .footer-nav-link {
    transition: all 0.3s ease-in-out;
  }

  .footer-nav-link:hover {
    opacity: 100%;
    transition: all 0.3s ease-in-out;
  }

  .footer-links-left {
    gap: 15px;
  }
  .footer-links-right {
    gap: 15px;
  }

  .footer-rights {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .product-page_main {
    max-width: 600px;
  }

  .desktop-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-image {
    height: 220px;
  }

  .product-page_main {
    padding-left: 0;
    margin: 50px 100px 150px 100px;
    align-content: center;
    justify-content: space-between;
  }

  .product-title {
    font-size: 1.4em;
  }

  .price-heart {
    margin-top: 50px;
    flex-direction: column;
    gap: 40px;
  }

  .select-options {
    margin-top: 50px;
  }

  .options {
    gap: 25px;
  }

  .product-page-buttons {
    margin: 25px 0;
  }

  .product-to-bag,
  .buy-now {
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
  }

  .buy-now {
    border: 1px solid var(--rainy-green);
  }

  .product-to-bag:hover,
  .buy-now:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.4s ease-in-out;
  }

  .about-container {
    margin: 60px auto 100px auto;
    width: 40%;
  }

  .about-title,
  .contact-title,
  .bag-title {
    padding-bottom: 40px;
    font-size: 1.8rem;
  }

  .about-text {
    font-size: 1.4rem;
  }

  .contatc-details {
    margin-top: 10px;
  }

  .contact-info {
    display: flex;
    gap: 150px;
  }

  .bag-product-image {
    height: 250px;
  }

  .bag-product-title {
    font-size: 1.2rem;
  }

  .delivery-container,
  .payment-container,
  .confirmation-container {
    width: 600px;
    margin: 0 auto;
  }

  .confetti-container {
    width: 600px;
  }
}

@media (min-width: 820px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .homepage_main {
    grid-template-columns: repeat(12, 1fr);
  }

  .grid-item {
    grid-column: span 4;
  }

  .grid-item:nth-last-child(2):nth-child(4n - 1) {
    grid-column-end: 7;
  }

  /* Dealing with 2 orphan items */
  .grid-item:last-child:nth-child(4n - 1) {
    grid-column-end: -3;
  }

  .grid-item:nth-last-child(2):nth-child(4n - 1) {
    grid-column-end: 7;
  }

  /* Dealing with single orphan */
  .grid-item:last-child:nth-child(4n - 2) {
    grid-column-end: 9;
  }

  .bag-container {
    max-width: 600px;
    margin: 0 auto;
  }

  .bag-product-image {
    height: 300px;
  }

  .bag-content {
    padding-top: 10px;
  }

  .bag-product-details {
    padding: 30px 0;
  }

  .bag-product-title {
    font-size: 1.4rem;
    margin-right: 20px;
  }

  .product-page_main {
    margin: 50px 100px 150px 100px;
    flex-direction: row;
    max-width: fit-content;
    gap: 40px;
  }
}

@media (min-width: 1040px) {
  .nav {
    padding: 15px 150px;
  }

  .homepage_main {
    margin: 50px 150px 150px 150px;
  }

  .product-page_main {
    margin: 50px 150px 150px 150px;
    max-width: fit-content;
    gap: 40px;
  }
}

@media (min-width: 1200px) {
  .nav {
    padding: 15px 200px;
  }

  .homepage_main {
    grid-template-columns: repeat(8, 1fr);
    margin: 50px 200px 150px 200px;
  }

  .grid-item {
    grid-column: span 2;
  }

  /* Dealing with 3 orphan items */
  .grid-item:last-child:nth-child(4n - 1) {
    grid-column-end: -2;
  }

  .grid-item:nth-last-child(2):nth-child(4n - 2) {
    grid-column-end: -4;
  }

  .grid-item:nth-last-child(3):nth-child(4n + 1) {
    grid-column-end: 4;
  }

  /* Dealing with 2 orphan items */
  .grid-item:last-child:nth-child(4n - 2) {
    grid-column-end: -3;
  }

  .grid-item:nth-last-child(2):nth-child(4n + 1) {
    grid-column-end: 5;
  }

  /* Dealing with single orphan */
  .grid-item:last-child:nth-child(4n - 3) {
    grid-column-end: 6;
  }

  .product-page_main {
    margin: 50px 200px 150px 200px;
    max-width: fit-content;
  }
}
